DB_NAME=moodle_quiz_db
DB_USER=auzcoder
DB_PASSWORD=admin0010
DB_HOST=localhost
DB_PORT=5432

# Email Settings (Gmail)
MAIL_USERNAME=auz.offical@gmail.com
MAIL_PASSWORD=mptp vhny jjup blzg
MAIL_FROM=no_replay@gmail.com
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587

# Security
SECRET_KEY=ajwyquywquwytwttetsfdgdtwbdkdbhdjndd